doctype html 
html 
    head 
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js' integrity='sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw==' crossorigin='anonymous')
        script(src="../script/main.js") 
        link(rel="stylesheet", href="../css/index.css")
    body 
        .target 
            .circle1(data-label="5") 
            .circle2(data-label="4") 
            .circle3(data-label="3")  
            .circle4(data-label="2")  
            .circle5(data-label="1")  
            .spots 
        .infos 
            h1.score Score: 0
            h3.explain Press R to restart<br>Press K to change mode
            p.axis (x, y)

        .mouseSymbol
